@use './shared' as *;
@use './base';

:root {
  /* chill light green button color */
  --color-primary: mediumseagreen;
}

main {
  flex: 10;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;
  font-weight: normal;
}

section:last-child {
  flex: 1;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  @include shadow;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  border-radius: 8px;
  transition: 0.3s;

  &:hover {
    color: var(--color-heading);
  }
}

select,
input,
button {
  border-radius: 8px;
  padding: 12px 8px;
  margin-top: 10px;
  background-color: var(--color-background);
  border: 0;
  font: 15px / 20px "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: var(--color-text);
  @include interactive;
  @include shadow;
}

button {
  background-color: var(--color-primary);
  color: var(--color-background);
  cursor: pointer;
  @include interactive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
}

h1 {
  text-align: center;
}

img {
  @include image;
}

hr {
  border-color: var(--color-border);
}

* {
  outline-color: var(--color-primary);
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  margin: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
  margin: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, .5);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(150, 150, 150);
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.2s ease;

  .modal {
    transition: transform 0.2s ease;
  }
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;

  .modal {
    transform: scale(0);
  }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (max-width: 960px) {
  section {
    padding: .5rem;
  }
}

.loading, .loadable:empty {
  background-image: linear-gradient(90deg,
      rgba(200, 200, 200, 0) 10%,
      rgba(200, 200, 200, 0.6) 50%,
      rgba(200, 200, 200, 0) 90%) !important;
  background-size: 90% 100% !important;
  background-repeat: no-repeat;
  animation: loading 0.5s linear infinite;
  min-height: 1.6em;
  border-radius: 4px;
}

@keyframes loading {
  0% {
    background-position: -800% 0;
  }

  100% {
    background-position: 1000% 0;
  }
}